body{
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}
*{
    margin: 0;
    padding: 0;
}
.course_info{
    background-color: rgb(129, 174, 204);
}
.first_table tr th{
    width: 100vw;
    border: 1px solid black;
    border-collapse: collapse;
    ;
}
.first_table tr td {
    border: 1px solid;
    width: 100vw;
}
.course_obj{
    background-color:rgb(129, 174, 204) ;
}
.course_out{
    background-color: rgb(129, 174, 204);
}
.sec_table tr th{
    
    border: 1px solid black;
    border-collapse: collapse;
    
}
.sec_table tr td{
    
    border: 1px solid black;
    border-collapse: collapse;
}
.head table  {
    padding-left: 30%;
}
.third_table h3{
    background-color: rgb(129, 174, 204);
}
.third_table table tr th{
    border: 1px solid black;
    border-collapse: collapse;
}
.third_table table tr td{
    border: 1px solid black;
    border-collapse: collapse;
}
.fourt_table h3{
    background-color: rgb(129, 174, 204);
}
.fourt_table table tr th{
    border: 1px solid black;
    border-collapse: collapse;
}
.fourt_table table tr td{
    border: 1px solid black;
    border-collapse: collapse;
}
.mini_project h3{
    background-color: rgb(129, 174, 204);
}
.mini_project table tr th{
    border: 1px solid black;
    border-collapse: collapse;
}
.mini_project table tr td{
    border: 1px solid black;
    border-collapse: collapse;
}
.assesment h3{
    background-color: rgb(129, 174, 204);
}
.assesment table tr th{
    border: 1px solid black;
    border-collapse: collapse;
}
.assesment table tr td{
    border: 1px solid black;
    border-collapse: collapse;
}
.matrial h3{
    background-color: rgb(129, 174, 204);
}
.matrial ul li{
    list-style-type: decimal;
}
.matrial ul{
    padding-left: 35px;
}
.grade h3{
    background-color: rgb(129, 174, 204);
}
.grade table tr th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.grade table tr td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.exam h3{
    background-color: rgb(129, 174, 204);
}
.exam table tr th{
    border: 1px solid black;
    border-collapse: collapse;
}
.exam table tr td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.COC h3{
    background-color: rgb(129, 174, 204);
}
.COC ul{
    padding-left: 15px;
}